@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

:root {
    --background-color: #162028;
    --header-title-color: #fff;
    --font-color: #425564;

}

.header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    color: var(--header-title-color);
    font-family: 'Viaoda Libre', cursive;
    font-weight: 100;
    font-size: 4em;

    margin: 1vh 12vw 0;
}

.nav {
    flex-grow: .5;
}

.nav__list {
    color: var(--font-color);
    
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    font-size: 1.6rem;
    
    list-style-type: none;

    padding: 0;

    display: flex;

    justify-content: space-around;
    align-items: center;
}