@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

:root {
    --background-color: #003d52;
    --text-color: #4b4b4b;
}

.services {
    padding: 14vh 10vw;
    text-align: center;
}

.services__title {
    font-family: 'Viaoda Libre', cursive;
    font-size: 4.5rem;
    font-weight: 100; 
}

.services__content {
    display: inline-block;
    font-size: 2.1rem;
    line-height: 4rem;
    color: var(--text-color);

    max-width: 90ch;

    margin: 0 auto;
}

.products {
    display: flex;
    justify-content: space-evenly;

    width: 80vw;
    margin: 0 auto;
}

.products__item img{
    width: 22vw;
}

.products__item h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2rem;
    color: var(--text-color);
}

.products__item p{
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
}