@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

:root {
    --user-experience-background-color: #003d52;
    --text-color: #4b4b4b;
}

.services {
    margin: 14vh 10vw;
    text-align: center;
}

.services__title {
    font-family: 'Viaoda Libre', cursive;
    font-size: 4.5rem;
    font-weight: 100; 
}

.services__content {
    display: inline-block;
    font-size: 2.1rem;
    line-height: 4rem;
    color: var(--text-color);

    max-width: 90ch;

    margin: 0 auto;
}

.products {
    display: flex;
    justify-content: space-evenly;

    width: 80vw;
    margin: 14vh auto;
}

.products__item img{
    width: 22vw;
}

.products__item h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2rem;
    color: var(--text-color);
}

.products__item p{
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
}

.user-experience {
    /* box-sizing: border-box; */
    height: fit-content;

    padding: 20vh 13vw;

    background-color: var(--user-experience-background-color);
    background-image: url(../images/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;

    color: #ffffff;
}

.user-experience h2 {
    text-transform: uppercase;
    font-family: 'Viaoda Libre', cursive;
    font-size: 6rem;
    font-weight: 100;

    margin: 0 0 7vh;
}

.user-experience p {
    width: 65ch;
    font-size: 1.8rem;
    line-height: 1.5;
}